name: 'Google Cloud IaC Create Resources'

on: 
  push:
    branches: [ main ]
  pull_request:
    branches:
      - main
    paths:
    - 'iac/**'

concurrency: 
  group: ${{ github.action == 'Google Cloud IaC Create Resources' }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash
    working-directory: ./iac
    
# Job starting to run
jobs:
  terraform_plan:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name != 'pull_request'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup GCP Service Account
        uses: google-github-actions/setup-gcloud@v0
        env:
          WORKFLOW_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
          REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
        with:
          version: 'latest'
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      # Generates an execution plan for Terraform
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v1
        with:
          terraform-version: 1.1.7
      
      # - name: Terraform Init
      #   run: terraform init
      #   env: 
      #     service_account_email: ${{ secrets.GCP_SA_EMAIL }}
      #     service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Terraform Format
        run: terraform fmt -check
        env:
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Terraform Plan
        run: terraform plan
        env:
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
        env:
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}